[Unit]
Description=Vitess admin daemon.
Wants=network-online.target
After=vtctld.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="TABLET_UID=103"
Environment="VTDATAROOT=/vt/mysql3"
Type=forking
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=10s
PIDFile=/vt/mysql3/tablet/mysql.pid
ExecStart=bash -c 'mysqlctl \
 --log_dir $VTDATAROOT/tmp \
 --tablet_uid $TABLET_UID \
 --tablet_dir tablet \
 --mysql_port $[17000 + $TABLET_UID] \
 --mysql_socket $VTDATAROOT/mysql.sock \
 start &'
ExecStop=bash -c 'mysqlctl --tablet_uid $TABLET_UID --tablet_dir tablet shutdown &'