[Unit]
Description=Vitess admin daemon.
Wants=network-online.target
After=mysql1.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="KEYSPACE=commerce"
Environment="SHARD=0"
Environment="TABLET_UID=101"
Environment="VTDATAROOT=/vt/mysql1"
Environment="TABLET_TYPE=replica"
RuntimeDirectory=vitess
Type=forking
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=10s
PIDFile=/run/vitess/mysql1_vtab.pid
ExecStart=bash -c 'vttablet \
 $TOPOLOGY_FLAGS \
 --log_dir $VTDATAROOT/logs \
 --log_queries_to_file "${VTDATAROOT}/logs/vttablet_${TABLET_UID}_querylog.txt" \
 --tablet-path "${CELL}-${TABLET_UID}" \
 --tablet_dir tablet \
 --tablet_hostname "" \
 --init_keyspace $KEYSPACE \
 --init_shard $SHARD \
 --init_tablet_type $TABLET_TYPE \
 --health_check_interval 5s \
 --backup_storage_implementation file \
 --file_backup_storage_root $VTDATAROOT/backups \
 --restore_from_backup \
 --port $[15000 + $TABLET_UID] \
 --grpc_port $[16000 + $TABLET_UID] \
 --db_port $[17000 + $TABLET_UID] \
 --service_map 'grpc-queryservice,grpc-tabletmanager,grpc-updatestream' \
 --pid_file /run/vitess/mysql1_vtab.pid \
 --heartbeat_on_demand_duration=5s \
 > $VTDATAROOT/logs/vttablet.out 2>&1 &'
