[Unit]
Description=Vitess mysql daemon.
Wants=network-online.target
After=vtctld.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="TABLET_UID=101"
Environment="VTDATAROOT=/vt/mysql1"
Type=forking
KillMode=process
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=10s
ExecStart=/usr/local/vitess/scripts/mysqlctl-up.sh
ExecStop=/usr/local/vitess/scripts/mysqlctl-down.sh
