[Unit]
Description=Vitess admin daemon.
Wants=network-online.target
After=vtctld.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="VTDATAROOT=/var/lib/vitess"
Type=forking
KillMode=process
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStart=/usr/local/vitess/scripts/vtadmin-up.sh
ExecStop=/usr/local/vitess/scripts/vtadmin-down.sh

