[Unit]
Description=Vitess admin daemon.
Wants=network-online.target
After=vtctld.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="VTDATAROOT=/var/lib/vitess"
Type=simple
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStart=bash -c '${VTDATAROOT}/vtadmin/node_modules/.bin/serve \ 
  --no-clipboard -l 14201 -s "${VTDATAROOT}/vtadmin/build" \
  > "${VTDATAROOT}/tmp/vtadmin-web.out" 2>&1'
