[Unit]
Description=Vitess vtctld daemon.
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="VTDATAROOT=/var/lib/vitess"
RuntimeDirectory=vitess
Type=forking
KillMode=process
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=10s
PIDFile=/run/vitess/vtctld.pid
ExecStart=bash -c 'vtctld \
 $TOPOLOGY_FLAGS \
 --cell $CELL \
 --service_map 'grpc-vtctl,grpc-vtctld' \
 --backup_storage_implementation file \
 --file_backup_storage_root $VTDATAROOT/backups \
 --log_dir $VTDATAROOT/logs \
 --port 15000 \
 --grpc_port 15999 \
 --pid_file /run/vitess/vtctld.pid \
  > $VTDATAROOT/logs/vtctld.out 2>&1 &'