[Unit]
Description=Vitess vtctld daemon.
Wants=network-online.target
After=etcd.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="VTDATAROOT=/var/lib/vitess"
Type=forking
KillMode=process
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=10s
#ExecStartPre=/bin/bash -c 'until systemctl is-active --quiet etcd.service; do sleep 2; done'
ExecStart=/usr/local/vitess/scripts/vtctld-up.sh
ExecStop=/usr/local/vitess/scripts/vtctld-down.sh

