[Unit]
Description=Vitess admin daemon.
Wants=network-online.target
After=mysql1-vtab.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="VTDATAROOT=/var/lib/vitess"
Type=forking
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=10s
PIDFile=/var/lib/vitess/tmp/vtgate.pid
ExecStart=/usr/local/vitess/scripts/vtgate-up.sh
ExecStop=/usr/local/vitess/scripts/vtgate-down.sh

