[Unit]
Description=Vitess orchastrator daemon.
Wants=network-online.target
After=vtctld.service

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/systemd/system/vitess.env
Environment="VTDATAROOT=/var/lib/vitess"
Type=forking
KillMode=process
User=vitess
Group=vitess
Delegate=yes
TimeoutStartSec=0
Restart=always
RestartSec=5s
PIDFile=/var/lib/vitess/tmp/vtorc.pid
ExecStart=bash -c 'vtorc \
  $TOPOLOGY_FLAGS \
  --logtostderr \
  --alsologtostderr \
  --config="${VTDATAROOT}/vtorc/config.json" \
  --pid_file="${VTDATAROOT}/tmp/vtorc.pid" \
  --port 16000 \
  > "${VTDATAROOT}/tmp/vtorc.out" 2>&1 &'
